*{
 margin: 0;
 padding: 0;
}

.main{
    width: 100%;
    background-color: darkgray;
    background-position: center;
    background-size: cover;
    height: 200vh;
    position: relative;
    font-family: 'Times New Roman', Times, serif;

}

.navbar{
    width: 70%;
    height: 150px;
    display: flex;
    margin: auto;
    padding: 0px 0px;
    align-items: center;
    justify-content: space-between;
}

ul{
    margin-top: 5%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 30px;
}

ul li a{
   font-size: 20px;
   font-weight: bolder;
   color: black;
   text-decoration: none;

}

ul li a:hover{
    color: gold;
}

.Information{
    margin-left: 10%;
    margin-top: 10%;

}
.Information h1{
    font-size: 70px;
    color: rgb(0, 0, 0);
}

.Information h3{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 26px;
}

.Information span{
    color: whitesmoke;
}

img{
    height: 500px;
    width: 500px;
    float: right;
    margin-top: 100px;
    margin-right: 15%
}

.About{
    width: 80%;
    height: 300px;
    display: flex;
    margin: -18%;
    padding: 1px 1px;
    align-items: center;
    justify-content: right;
    font-size: large;
}

.About h1{
    font-size: xx-large;  
}

ul li{
    list-style: none;
    display: inline-block;
}

.Work{
    padding: 400px 20px;
    display: flex;
    margin: -18%;
    align-items: center;
    justify-content: left;
}

.Work h1{
    font-size: xx-large;
}